.listingTypeChild {
  width: 360px;
  height: 175px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 2px solid var(--purple-1);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.groupsBlack24dp11 {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.people {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.listingTypeIcon,
.peopleListingType {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.peopleListingType {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.listingTypeIcon {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.anIndividualOr {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  white-space: pre-wrap;
  z-index: 1;
}
.listingType {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 2px solid var(--purple-1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-sm);
  gap: var(--gap-5xl);
  min-width: 273px;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--grey-darkest);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 450px) {
  .people {
    font-size: var(--font-size-base);
  }
}
